:root {
  --primary-color-light: #faf4ea;
  --primary-color-dark: #31261a;
  --primary-color-green: #819b57;
  --secondaty-color-light: #cfcfbc;
  --secondaty-color-dark: #a18268;
  --secondaty-color-green: #465929;
}

/* Base */
body {
  color: var(--primary-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

adress {
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* Link */
.link {
  color: var(--primary-color-light);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-color-green);
  font-weight: 600;
}

/* Button */
.button {
  color: var(--primary-color-light);
  background-color: var(--primary-color-green);
  border: 2px solid var(--primary-color-green);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--secondaty-color-green);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1, 3;
}

.section-title .accent {
  color: var(--secondaty-color-green);
}

/* Hero section */
.hero-title {
  color: var(--primary-color-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--primary-color-green);
}

/* Advantage section */

.advantage-list {
  background-color: var(--primary-color-green);
  color: var(--primary-color-light);
}

.advantage-item {
  font-size: 20px;
  font-weight: 300;
}

/* Tradition section */

.tradition-text span {
  color: var(--primary-color-green);
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.chefs-title {
  font-size: 40px;
  font-weight: 600;
}

/* Format section */

.format-title {
  font-style: 24px;
  font-weight: 600;
  color: var(--primary-color-light);
}

.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--primary-color-light);
}

/* Contact section */

.contakt-text {
  color: var(--secondaty-color-green);
}

/* Footer */

.adres-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-color-light);
}

.adres-link:hover {
  color: var(--primary-color-green);
  text-decoration: none;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
}
