@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --primary-color-light: #faf4ea;
  --primary-color-dark: #31261a;
  --primary-color-green: #819b57;
  --secondaty-color-light: #cfcfbc;
  --secondaty-color-dark: #a18268;
  --secondaty-color-green: #465929;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  color: var(--primary-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

adress {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.contener {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Link */

.link {
  color: var(--primary-color-light);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-color-green);
  font-weight: 600;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--primary-color-light);
  background-color: var(--primary-color-green);
  border: 2px solid var(--primary-color-green);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--secondaty-color-green);
}

.section {
  padding: 48px 0;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--secondaty-color-green);
}

/* Hero section */

.hero-title {
  padding: 272px 0;
  margin-bottom: 0;
  color: var(--primary-color-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--primary-color-green);
}

/* Advantage section */

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantage-list {
  /* margin: 0; */
  background-color: var(--primary-color-green);
  color: var(--primary-color-light);
}

.advantage-item {
  font-size: 20px;
  font-weight: 300;
}

/* Tradition section */

.tradition-title {
  margin-bottom: 42px;
}
.tradition-text span {
  color: var(--primary-color-green);
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.chef-title {
  margin-bottom: 80px;
}

.chefs-title {
  font-size: 40px;
  font-weight: 600;
}

/* Format section */
.format-title {
  margin-bottom: 80px;
}

.formats-title {
  margin-bottom: 16px;
  font-style: 24px;
  font-weight: 600;
  color: var(--primary-color-light);
}

.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--primary-color-light);
}

/* Contact section */

.contakt-title {
  margin-bottom: 16px;
}
.contakt-text {
  color: var(--secondaty-color-green);
}

/* Footer */

.adres-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-color-light);
}

.adres-link:hover {
  color: var(--primary-color-green);
  text-decoration: none;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
}
